input:not([type="checkbox"]),
select,
textarea {
  width: 100%;
  padding: .75rem .75rem;
  border: 1px solid lighten($border-color, 5%);
  background: $input-background;
  border-radius: 0;
}

input:active,
input:focus,
select:active,
select:focus {
  outline: none;
  background: $input-background;
}

input:focus {
  border-color: var(--accent);
}

input::placeholder {
  color: $text-color-light;
}

select {
  -webkit-appearance: none;
  appearance: none;
  padding-right: 2.5rem;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='gray'><polygon points='0,0 10,0 5,5'/></svg>") no-repeat white;
  background-position: right .5rem top .75rem;
}

label {
  display: block;
  margin-bottom: .25rem;
}

input.inline-input {
  padding: 0;
  background: transparent;
  border: 0;
}

.form-group {
  padding: 0;
}

.inline-form-group {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 1rem;
  padding: .75rem 1rem;
  margin: 0;
  font-size: 12px;
  color: $text-color-light;
  text-align: right;
}

.form-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.form-hint {
  display: block;
  color: gray;
  font-style: italic;
  font-size: 12px;
  margin: 0 0 .5rem;
}

.checkbox {
  display: grid;
  grid-template-columns: .75rem auto;
  grid-gap: .5rem;
}

.checkbox input {
  -webkit-appearance: none;
  appearance: none;
  width: .75rem;
  height: .75rem;
  border: 1px solid gray;
}

.checkbox input:checked {
  background: blue;
}

.checkbox label {
}
