.button {
  display: block;
  padding: .5rem;
  border: 1px solid $border-color;
  border-radius: 5px;
  background: white;
  text-align: center;
  color: $text-color-light;
  font-size: 12px;
  cursor: pointer;
}

.button:hover,
.button:active,
.button--active {
  color: $text-color;
  background: $button-active-color;
}

.button--primary {
  background: $primary-color;
  color: white;
  border-color: $primary-color;
}

.button--inline {
  display: inline-block;
}
