$white: #FFF;
$black: #000;

$primary-color: #436FF5;
$border-color: #E0E0E0;
$button-active-color: #F3F3F3;
$text-color: #4A4A4A;
$text-color-light: rgba($text-color, .5);

$border-radius: 3px;

$input-background: #F8FAFB;
